<!DOCTYPE html>
<html lang='zh-CN'>
<head>
<meta charset='utf-8'>
<meta http-equiv='x-ua-compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0'>
<meta name='format-detection' content='telephone=no'>
<title>亿金融</title>
<link type="text/css" rel="stylesheet" href="../resource/src/css/main.css">
</head>
<body>
<div class='main'>
    <div class="headerone cf">
        <span></span>
        <div class="searchbox">
            <span></span>
            搜索产品名称
        </div>
    </div>
    <div class='content c1'>
        <div id='wrapper' class='wrapper'>
            <div class='scroller'>
                <div id='carousel'>
                    <ul id='scroller'>
                        <li>
                            <img src='../resource/img/carousel.png'>
                        </li>
                        <li>
                            <img src='../resource/img/carousel.png'>
                        </li>
                        <li>
                            <img src='../resource/img/carousel.png'>
                        </li>
                        <li>
                            <img src='../resource/img/carousel.png'>
                        </li>
                        <li>
                            <img src='../resource/img/carousel.png'>
                        </li>
                    </ul>
                    <div id='indicator'></div>
                </div>
                <div class='tabs cf'>
                    <a href='#'>
                        <p style="background:url('../resource/img/t1.png') no-repeat center center;background-size:0.45rem 0.45rem;"></p>
                        <span>热销产品</span>
                    </a>
                    <a href='#'>
                        <p style="background:url('../resource/img/t2.png') no-repeat center center;background-size:0.45rem 0.45rem;"></p>
                        <span>信托产品</span>
                    </a>
                    <a href='#'>
                        <p style="background:url('../resource/img/t3.png') no-repeat center center;background-size:0.45rem 0.45rem;"></p>
                        <span>资管计划</span>
                    </a>
                    <a href='#'>
                        <p style="background:url('../resource/img/t4.png') no-repeat center center;background-size:0.45rem 0.45rem;"></p>
                        <span>PE/VC</span>
                    </a>
                    <a href='#'>
                        <p style="background:url('../resource/img/t5.png') no-repeat center center;background-size:0.45rem 0.45rem;"></p>
                        <span>私募基金</span>
                    </a>
                    <a href='#'>
                        <p style="background:url('../resource/img/t6.png') no-repeat center center;background-size:0.45rem 0.45rem;"></p>
                        <span>债券</span>
                    </a>
                    <a href='#'>
                        <p style="background:url('../resource/img/t7.png') no-repeat center center;background-size:0.45rem 0.45rem;"></p>
                        <span>资讯</span>
                    </a>
                    <!-- <a href='#'>
                        <p style="background:url('../resource/img/t8.png') no-repeat center center;background-size:0.45rem 0.45rem;"></p>
                        <span>公告</span>
                    </a> -->
                </div>
                <div class="recommend cf">
                    <div class="left">
                        热销推荐
                    </div>
                    <div class="right">
                        更多 >>
                    </div>
                </div>
                <div class="">
                    <div class="rec vip">
                        <div class="ti cf">
                            <div class="left">
                                <img src="../resource/img/logo.png" alt="logo">
                            </div>
                            <div class="right">
                                <div class="subtitle cf">
                                    <p>中江信托-金虎318号（12期）</p>
                                    <div class="tag">在售</div>
                                </div>
                                <div class="tip cf">
                                    <span>政信项目</span>
                                    <span>国企融资</span>
                                    <span>房地产</span>
                                    <span>房地产</span>
                                    <span>政信项目</span>
                                    <span>国企融资</span>
                                </div>
                            </div>
                        </div>
                        <div class="rtable">
                            <div class="cf">
                                <p><span>7.60%</span></p>
                                <p>12个月</p>
                                <p>
                                    <span>
                                        <a href="">登录可见</a>
                                    </span>
                                </p>
                            </div>
                            <div class="cf">
                                <p>预期收益</p>
                                <p>投资期限</p>
                                <p>返佣率</p>
                            </div>
                        </div>
                        <div class="hr"></div>
                        <p class="tate">【9-16下午更新】打款时间等通知，收益待公布。</p>
                    </div>
                    <div class="rec">
                        <div class="ti cf">
                            <div class="left">
                                <img src="../resource/img/logo.png" alt="logo">
                            </div>
                            <div class="right">
                                <div class="subtitle cf">
                                    <p>中江信托-金虎318号（12期）</p>
                                    <div class="tag">在售</div>
                                </div>
                                <div class="tip cf">
                                    <span>政信项目</span>
                                    <span>国企融资</span>
                                    <span>房地产</span>
                                    <span>房地产</span>
                                    <span>政信项目</span>
                                    <span>国企融资</span>
                                </div>
                            </div>
                        </div>
                        <div class="rtable">
                            <div class="cf">
                                <p><span>7.60%</span></p>
                                <p>12个月</p>
                                <p>
                                    <span>
                                        <a href="">登录可见</a>
                                    </span>
                                </p>
                            </div>
                            <div class="cf">
                                <p>预期收益</p>
                                <p>投资期限</p>
                                <p>返佣率</p>
                            </div>
                        </div>
                        <div class="hr"></div>
                        <p class="tate">【9-16下午更新】打款时间等通知，收益待公布。</p>
                    </div>
                    <div class="rec">
                        <div class="ti cf">
                            <div class="left">
                                <img src="../resource/img/logo.png" alt="logo">
                            </div>
                            <div class="right">
                                <div class="subtitle cf">
                                    <p>中江信托-金虎318号（12期）</p>
                                    <div class="tag">在售</div>
                                </div>
                                <div class="tip cf">
                                    <span>政信项目</span>
                                    <span>国企融资</span>
                                    <span>房地产</span>
                                    <span>房地产</span>
                                    <span>政信项目</span>
                                    <span>国企融资</span>
                                </div>
                            </div>
                        </div>
                        <div class="rtable">
                            <div class="cf">
                                <p><span>7.60%</span></p>
                                <p>12个月</p>
                                <p>
                                    <span>
                                        <a href="">登录可见</a>
                                    </span>
                                </p>
                            </div>
                            <div class="cf">
                                <p>预期收益</p>
                                <p>投资期限</p>
                                <p>返佣率</p>
                            </div>
                        </div>
                        <div class="hr"></div>
                        <p class="tate">【9-16下午更新】打款时间等通知，收益待公布。</p>
                    </div>
                    <div class="rec">
                        <div class="ti cf">
                            <div class="left">
                                <img src="../resource/img/logo.png" alt="logo">
                            </div>
                            <div class="right">
                                <div class="subtitle cf">
                                    <p>中江信托-金虎318号（12期）</p>
                                    <div class="tag">在售</div>
                                </div>
                                <div class="tip cf">
                                    <span>政信项目</span>
                                    <span>国企融资</span>
                                    <span>房地产</span>
                                    <span>房地产</span>
                                    <span>政信项目</span>
                                    <span>国企融资</span>
                                </div>
                            </div>
                        </div>
                        <div class="rtable">
                            <div class="cf">
                                <p><span>7.60%</span></p>
                                <p>12个月</p>
                                <p>
                                    <span>
                                        <a href="">登录可见</a>
                                    </span>
                                </p>
                            </div>
                            <div class="cf">
                                <p>预期收益</p>
                                <p>投资期限</p>
                                <p>返佣率</p>
                            </div>
                        </div>
                        <div class="hr"></div>
                        <p class="tate">【9-16下午更新】打款时间等通知，收益待公布。</p>
                    </div>
                    <div class="rec">
                    <div class="ti cf">
                        <div class="left">
                            <img src="../resource/img/logo.png" alt="logo">
                        </div>
                        <div class="right">
                            <div class="subtitle cf">
                                <p>中江信托-金虎318号（12期）</p>
                                <div class="tag">在售</div>
                            </div>
                            <div class="tip cf">
                                <span>政信项目</span>
                                <span>国企融资</span>
                                <span>房地产</span>
                                <span>房地产</span>
                                <span>政信项目</span>
                                <span>国企融资</span>
                            </div>
                        </div>
                    </div>
                    <div class="rtable">
                        <div class="cf">
                            <p><span>7.60%</span></p>
                            <p>12个月</p>
                            <p>
                                <span>
                                    <a href="">登录可见</a>
                                </span>
                            </p>
                        </div>
                        <div class="cf">
                            <p>预期收益</p>
                            <p>投资期限</p>
                            <p>返佣率</p>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <p class="tate">【9-16下午更新】打款时间等通知，收益待公布。</p>
                </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer cf">
        <button class="left">下载APP佣金更高</button>
        <button class="right">咨询客服</button>
    </div>
</div>
<div class="ad">
	<div>
        <div class="headbackgroung">
            <img src="../resource/img/d1.jpg" alt="">
            <a href="" class="close"></a>
        </div>
        <div class="btnbox">
            <button type="button" name="button">下载返佣</button>
            <a href="#">下次再说</a>
        </div>
	</div>
</div>

<!-- <div class="shengming">
	<div>
		<div class="content">
			<p class="ti">合格投资者认定公告</p>
			<p class="article">亿金融网站恪守《私募投资基金募集行为管理办法》规定：“募集机构通过互联网媒介在线向投资者推介私募基金之前，应当设置在线特定对象确认程序，投资者应承诺其符合合格投资者标准。”即日起，登录后才能查看网站特定内容，特此公告。</p>
		</div>
		<div class="smopt">
			<span class="left checked"></span>
			<span class="right">我已阅读并接受此认定公告</span>
		</div>
		<button type="button" onclick="hideDelare()">确定</button>
	</div>
</div> -->
<script type='text/javascript' src='../resource/src/lib/jquery.min.js'></script>
<script type='text/javascript' src='../resource/src/lib/fastclick.min.js'></script>
<script type='text/javascript' src='../resource/src/lib/iscroll.probe.min.js'></script>
<script type='text/javascript' src='../resource/src/js/app.js'></script>
<script type="text/javascript">
    $(function(){
        function lunbo(){
            $('.content').scroll(function(event){
                var $header = $('.headerone').height();
                var $height = $('#carousel').height();
                $height= $height-$header
                var $top = $('.content').scrollTop();
                if($top>=$height){
                    $('.headerone').addClass('active');
                }else{
                    $('.headerone').removeClass('active');
                }
            });
        }
        <!-- lunbo() -->
    })
</script>
</body>
</html>
