<!DOCTYPE html>
<html lang='zh-CN'>
<head>
<meta charset='utf-8'>
<meta http-equiv='x-ua-compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0'>
<meta name='format-detection' content='telephone=no'>
<title>亿金融</title>
<link type="text/css" rel="stylesheet" href="../resource/src/css/main.css">
</head>
<body>
    <div class='main'>
        <div class="header red">
            <ul class="cf">
                <li>
                    <a href='#' class='backone'></a>
                    <span class="active">注册</span>
                </li>
                <li><span>登录</span></li>
            </ul>
        </div>
        <div class="content c5">
            <div>
                <div class="inputbox cf">
                    <div class="span">
                        <span></span>
                    </div>
                    <input type="text" name="name" value="" placeholder="请输入11手机号">
                </div>
                <div class="inputbox cf">
                    <div class="span">
                        <span class="cl"></span>

                    </div>
                    <input type="text" name="name" value="" placeholder="请输入验证码">
                    <button class="btn" type="text" name="button">获取验证码</button>

                </div>
                <div class="inputbox cf">
                    <div class="span">
                        <span class="cl2"></span>

                    </div>
                    <input type="text" name="name" value="" placeholder="请输入图形验证码">
                    <button class="btn" type="text" name="button">获取验证码</button>
                </div>
                <div class="inputbox inp1 cf">
                    <div class="span">
                        <span class="cl1"></span>
                    </div>

                    <p class="agree">
                        我同意<a href="#" >《用户服务协议》</a>
                    </p>
                </div>

                <div class="buttonbox cf">
                    <button type="button" name="button">下一步</button>
                </div>

            </div>
        </div>
    </div>
    <div class="agreement">
        <div>
            <div class="header">
                    <ul class="cf">
                        <li>
                            <a href='#' class='backone'></a>
                            <span class="active">注册</span>
                        </li>
                        <li><span>登录</span></li>
                    </ul>
                </div>
            <div class="title">提示</div>
            <div class="text">
                <article>
                    <h2>特别提示：</h2>
                    <p>欢迎您使用亿金融平台的服务！</p>
                    <p>在使用亿金融平台服务之前，您应当阅读并遵守《用户使用协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、争议解决和法律适用条款。当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与亿金融平台达成协议。您承诺接受并遵守本协议的约定，届时您不应以未阅读本协议的内容等为由，主张本协议无效，或要求撤销本协议。</p>
                    <h4>一、协议范围</h4>
                    <p>1.1本协议由您与亿金融平台的经营者共同缔结，本协议具有合同效力。亿金融平台的经营者是上海亿管家互联网金融信息服务有限公司，域名为yzmoney.com。</p>
                    <p>1.2本协议内容包括协议正文、 法律声明及所有亿金融平台已经发布或将来可能发布的各类规则、公告或通知。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。</p>
                    <p>1.3亿金融平台经营者有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行变更公告，无需另行单独通知您。变更后的协议和规则一经在网站公布后，立即或在公告明确的特定时间自动生效。若您在前述变更公告后继续使用亿金融平台服务的，即表示您已经阅读、理解并接受经修订的协议和规则。若您不同意相关变更，应当立即停止使用平台服务。</p>
                    <h4>二、 注册与账户</h4>
                    <p>2.1主体资格</p>
                    <p>您确认，在您完成注册程序或以其他方式实际使用亿金融平台服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的监护人应承担因此而导致的一切后果，且平台有权注销或永久冻结您的账户。</p>
                    <p>2.2注册和账户</p>
                    <p>a）当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，您即受本协议约束。您可以使用您手机号码或者亿金融平台允许的其它方式作为登录手段进入平台。</p>
                    <p>b）您的登录名和密码不得以任何方式买卖、转让、赠与或继承，除非有法律明确规定或司法裁定，并经平台同意，且需提供平台要求的合格的文件材料并根据平台制定的操作流程办理。</p>
                    <p>c）亿金融平台特别提醒您应妥善保管您的账号和密码。当您使用完毕后，应安全退出。因您保管不善造成可能遭受盗号或密码失窃，责任由您自行承担。</p>
                    <h4>三、用户信息保护</h4>
                    <p>3.1保护用户个人信息是亿金融平台的一项基本原则。</p>
                    <p>3.2您在注册帐号或使用平台服务的过程中，可能需要填写一些必要的信息。若国家法律法规有特殊规定的，您需要填写真实的身份信息。若您填写的信息不完整，则无法使用平台服务或在使用过程中受到限制。</p>
                    <p>3.3一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。</p>
                    <p>3.4亿金融平台将采取一定的措施来保护您的个人信息，以免遭受未经授权的访问、使用或披露。</p>
                    <p>3.5亿金融平台不会将您的个人信息转移或披露给任何非关联的第三方，除非：</p>
                    <p>a）经您事先同意，向第三方转移或披露；</p>
                    <p>b）根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
                    <p>c）为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；</p>
                    <p>d）在平台上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，平台有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决；</p>
                    <p>e）为完成合并、分立、收购或资产转让而转移。</p>
                    <h4>四、平台系统使用规范</h4>
                    <p>4.1您根据亿金融平台系统获取的理财资讯向客户进行推广宣传业务的，需保证客户是符合相关法律规定的投资人。</p>
                    <p>4.2您应严格按照国家各金融监管机构的规定开展业务活动，不采用误导或可能误导客户的方式和内容进行宣传推广。</p>
                    <p>4.3 您保证在接到客户的投诉后，积极妥善处理。您与客户的一切纠纷，均与亿金融平台经营者无关。</p>
                    <p>4.4亿金融平台系统中的资料信息，仅供推广业务参考，未得亿金融平台经营者同意，不得将之在业务范围外交予第三方使用。</p>
                    <p>4.5亿金融平台系统经营者与您不具有劳动、雇佣、代理等关系，您不得利用亿金融的名称或公司数据（包括但不限于地址及电话等），行不实夸大之宣传而误导客户及其他损害客户利益的行为。</p>
                    <p>4.6 您在推广活动中，不得利用不正当竞争手段、恶意手段发展客户。</p>
                    <p>4.7 您提交的注册信息及您设置的信息，都将严格进行保密。除法律另有规定或监管机构要求披露外，亿金融平台系统均不会任意对外泄露。</p>
                    <h4>五、用户违法行为</h4>
                    <p>5.1您在使用平台服务时须遵守法律法规，不得利用平台服务从事违法违规行为，包括但不限于：</p>
                    <p>a）发布、传送、传播、储存危害国家安全统一、破坏社会稳定、违反公序良俗、侮辱、诽谤、淫秽、暴力以及任何违反国家法律法规的内容；</p>
                    <p>b）发布、传送、传播、储存侵害他人知识产权、商业秘密等合法权利的内容；</p>
                    <p>c）恶意虚构事实、隐瞒真相以误导、欺骗他人；</p>
                    <p>d）发布、传送、传播广告信息及垃圾信息；</p>
                    <p>e）其他法律法规禁止的行为。</p>
                    <p>5.2如果您违反了本条约定，相关国家机关或机构或个人可能会对您提起诉讼、罚款或采取其他制裁措施，并要求平台给予协助。造成损害的，您应依法予以赔偿，平台不承担任何责任。</p>
                    <p>5.3如果平台发现或收到他人举报您发布的信息违反本条约定，平台经营者有权进行独立判断并采取技术手段予以删除、屏蔽或断开链接。同时，平台经营者有权视用户的行为性质，采取包括但不限于暂停或终止服务，限制、冻结或终止账户使用，追究法律责任等措施。</p>
                    <p>5.4您违反本条约定，导致任何第三方损害的，您应当独立承担责任；亿金融平台或其经营者因此遭受损失的，您也应当一并赔偿。</p>
                    <h4>六、用户发送、传播的内容与第三方投诉处理</h4>
                    <p>6.1您通过本平台服务发送或传播的内容（包括但不限于网页、文字、图片、音频、视频、图表等）均由您自行承担责任。</p>
                    <p>6.2您发送或传播的内容应有合法来源，相关内容为您所有或您已获得权利人的授权。</p>
                    <p>6.3您同意亿金融平台可为履行本协议或提供本服务的目的而使用您发送或传播的内容。</p>
                    <p>6.4如果亿金融平台收到权利人通知，主张您发送或传播的内容侵犯其相关权利的，您同意平台有权进行独立判断并采取删除、屏蔽或断开链接等措施。</p>
                    <h4>七、不可抗力及其他免责事由</h4>
                    <p>7.1您理解并同意，在使用本平台服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，亿金融平台将努力在第一时间与相关单位配合，及时进行修复，但是由此给您造成的损失平台在法律允许的范围内免责。</p>
                    <p>7.2在法律允许的范围内，平台对以下情形导致的服务中断或受阻不承担责任：</p>
                    <p>a）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</p>
                    <p>b）用户或平台的电脑软件、系统、硬件和通信线路出现故障；</p>
                    <p>c）用户操作不当；</p>
                    <p>d）用户通过非平台授权的方式使用本服务；</p>
                    <p>e）其他平台无法控制或合理预见的情形。</p>
                    <p>7.3您理解并同意，在使用本平台服务的过程中，可能会遇到网络信息或其他用户行为带来的风险，亿金融平台不对任何信息的真实性、适用性、合法性承担责任，也不对因侵权行为给您造成的损害负责。</p>
                    <p>7.4平台依据本协议约定获得处理违法违规内容的权利，该权利不构成平台的义务或承诺，平台不能保证及时发现违法行为或进行相应处理。</p>
                    <h4>八、协议的生效与变更</h4>
                    <p>8.1您使用平台的服务即视为您已阅读本协议并接受本协议的约束。</p>
                    <p>8.2平台有权在必要时修改本协议条款。您可以在相关服务页面查阅最新版本的协议条款。</p>
                    <p>8.3本协议条款变更后，如果您继续使用平台提供的服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用平台提供的服务。</p>
                    <h4>九、违约责任</h4>
                    <p>您未按本协议约定履行其义务，出现违反上述条款之一的，亿金融平台经营者有权采取相关处罚措施（包括但不限于终止支付服务费）。情节严重的，平台经营者有权单方终止本协议。协议终止后，平台经营者依旧有权要求您承担违约责任。</p>
                    <h4>十、其他</h4>
                    <p>10.1本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例和行业惯例。</p>
                    <p>10.2若您和亿金融平台之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交上海浦东新区人民法院管辖。</p>
                    <p>10.3本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
                    <p>10.4本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
                </article>
            </div>
            <div class="btn ensure">
                <button>确定</button>
            </div>
        </div>
    </div>
<script type='text/javascript' src='../resource/src/lib/jquery.min.js'></script>
<script type='text/javascript' src='../resource/src/lib/fastclick.min.js'></script>
<script type='text/javascript' src='../resource/src/lib/iscroll.probe.min.js'></script>
<script type='text/javascript' src='../resource/src/js/app.js'></script>
<script>
$(function(){
    $('.agree').on('click',function(){
        $('.agreement').css('display','block');
    })
    $('.ensure').on('click',function(){
        $('.agreement').css('display','none');
    })
})
</script>
</body>
</html>
