<!DOCTYPE html>
<html lang='zh-CN'>
<head>
<meta charset='utf-8'>
<meta http-equiv='x-ua-compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0'>
<meta name='format-detection' content='telephone=no'>
<title>亿金融</title>
<link type="text/css" rel="stylesheet" href="../resource/src/css/main.css">
</head>
<body>
    <div class='main'>
        <div class="content successCt">
            <div class="eliminate">
                <div class="picseccess"></div>
                <p>
                    注册成功
                </p>
                <div class="picseccess1"></div>
                <div class="buttonbox">
                    <button type="button" name="button">15秒极速体验</button>
                </div>
                <p class="pbtom">
                    随便逛逛
                </p>
            </div>
        </div>
    </div>

<script type='text/javascript' src='../resource/src/lib/jquery.min.js'></script>
<script type='text/javascript' src='../resource/src/lib/fastclick.min.js'></script>
<script type='text/javascript' src='../resource/src/lib/iscroll.probe.min.js'></script>
<script type='text/javascript' src='../resource/src/js/app.js'></script>
<script type="text/javascript">


</script>
</body>
</html>
